
<% if @idea.present? %>
  <h1 class='mb-5 text-2xl font-bold'>Inspire Me</h1>
<div class="rounded overflow-hidden shadow-lg mb-3">
<div class="px-6 py-3 h-full">
  <div class="font-bold text-xl mb-2"><%= @idea.description %></div>
  <p class="text-sm text-gray-700 "><%= @idea.title %></p>
</div>
<div class="flex mt-4">
<%= button_to 'Delete', idea_path(@idea), method: :delete, class: 'text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 mx-3 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800',form:{data: {turbo_confirm: "Are you sure?"}}%>
<%= link_to 'Revise', edit_idea_path(@idea), class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' %>
</div>
<%end%>