<footer class="fixed bg-white bottom-0 w-full">
<div class="max-w-screen-xl mx-auto p-1 text-center text-neutral-700 dark:text-neutral-200">
  <p>&copy; TECHBRAIN <%= Date.today.year %> All Rights Reserved</p>
</div>
</footer>